*{
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.nav{
  background-color: bisque;
  align-items: center;
  gap: 2 rem;
  padding: 0 1rem;
}
.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.site-title{
  font-size: 1.5rem;
}
.nav a{
  display: flex;
  align-items: center;
  padding: .25rem;
}
.nav button{
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  text-align: center;
  padding: 2rem;
  position: relative;
  background-color: black;
  color: white; 
}

.social-icons img {
  max-width: 50px; 
  margin: 0 10px; 
}

.dh-logo {
  max-width: 100px; 
  color-scheme: white;
}



form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}
.card-image{
  width: 150px;
}
.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  justify-content: space-between;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 50px 10px 100px 200px;
}
form{
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}
form > button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
section{
  background-color: red;
  color: red;
  padding: 20px;
}
table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}
.formSubmit{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    )
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.detail:hover{
  color: rgb(136, 136, 136);
}

h1 {
  padding: 10px;
  border-radius: 5px;
}

p {
  border: 1px solid #ddd; 
  padding: 10px;
  margin: 0;
}


.dark{
  background-color: #12121296;
  color: white;
}
.dark > body{
  background-color: #12121296;
}
.dark > a {
  color: white;
}

.dark .home{
  color: white;
}
.dark .contact{
  color: white;
}
.dark .favs{
  color: white;
}
.dark .detail{
  color: white;
}
.dark .favButton{
  color: white;
}
.light{
  background-color: white;
  color: #000;
}

.light > a {
  color:#000;
}

.light .home{
  color: black;
}
.light .contact{
  color: black;
}
.light .favs{
  color: black;
}
.light .detail{
  color: black;
}
.light .favButton{
  color: black;
}